In [6]:
#import libraries
import pandas as pd
import numpy as np
import os

In [7]:
path=r'C:\Users\goswa\Desktop\Instacart Basket Analysis'

# Importing data

In [8]:
df_prods = pd.read_csv(r'C:\Users\goswa\Desktop\Instacart Basket Analysis\Data\Prepared Data\products_checked.csv', index_col = False)

In [9]:
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [10]:
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'OG Data', 'orders_products_prior.csv'), index_col = False)

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 8)

In [13]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

#Drop unnecessary Column

In [14]:
df_ords = df_ords.drop(columns = ['Unnamed: 0.1'])
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [15]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [16]:
# Merging the two

In [17]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [19]:
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))