In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\goswa\Desktop\Instacart Basket Analysis'

In [3]:
df_prods = pd.read_csv(r'C:\Users\goswa\Desktop\Instacart Basket Analysis\Data\Prepared Data\products_checked.csv', index_col = False)

# Question 3

In [4]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Question 4

In [5]:
df_ords_prods_combined.shape

(32434489, 10)

# Question 5

In [6]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [9]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods.shape

(49672, 5)

In [ ]:
# They both have product ID, we can merge with that

# Question 6

In [13]:
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [14]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Question 7

In [15]:
df_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))